.css-14pjs32 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 0 !important;
    /* 强制禁用顶部内边距 */
    padding-bottom: 30px;
    height: 1vw;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.12);
}

css-1mx7sfu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 0 !important;
    /* 强制禁用顶部内边距 */
    padding-bottom: 30px;
    height: 1vw;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.12);
}